// VARIABLES

$color-navbar: #007bff;
$color-contact: #FF604E;
$color-primary: #0067F4;
$color-success: #17C671;
$color-warning: #FFB400;
$color-danger: #C4183C;
$color-secondary: #5A6169;
$color-info: #00B8D8;
$color-light: #E9ECEF;
$carousel-indicator-active-bg: #0E4194;

// Your variable overrides

.form-control {
    font-family: 'Hind Vadodara', sans-serif;
}

.btn{
    font-family: 'Hind Vadodara', sans-serif;
}

// Bootstrap and its default variables

@import "../bootstrap/scss/_functions";
@import "../bootstrap/scss/_variables";

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1164px,
        xxl: 1400px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1300px
);

@import "../bootstrap/scss/bootstrap";

html {
    font-family: 'Hind Vadodara', sans-serif;
}

[aria-expanded="false"] .menu__icon--open {
    display: block;
}

[aria-expanded="false"] .menu__icon--close {
    display: none;
}

[aria-expanded="true"] .menu__icon--open {
    display: none;
}

[aria-expanded="true"] .menu__icon--close {
    display: block;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.0rem;
    font-weight: 500;
    color: #0E4194;
}

.dropdown-item {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.0rem;
    font-weight: 500;
    color: #0E4194;
}

.navbar-light .navbar-toggler {
    border-style: none;
    outline-style: none;
}

.laptop {
    margin-top: 4rem;
}

.iconText {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.0rem;
    font-weight: 500;
    color: #0E4194;
}

.titleText {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 2.0rem;
    font-weight: 600;
    color: #0E4194; 
}

.titleCat {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #0E4194; 
}

.entanaText {
	padding: .6rem;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 2.0rem;
    font-weight: 600;
	color: #ffffff;
}

.table {
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}
.table th, .table td {
    border: 0px;
}
.fixed-table-container {
    border: 0px;
}

.popularToolsText {
    margin-top: 8rem;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    color: #0E4194; 
}

.orgChart {
    background-color: #E9ECEF;   
}

.defOrgChart {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #0E4194; 
    max-width: 50rem;
}


.bottomLinks {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.0rem;
    font-weight: 500;
	color: #ffffff;
}

.testList, .iconlist {
    list-style: none;
    display: inline-block;
    margin-bottom: .1rem;
    margin-right: .4rem;
    margin-top: 1rem;
}

.homeCarousel {
    margin-top: 4rem;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.card-subtitle2{
	font-size: .8rem;
}

.footerText {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1rem;
    color: #000000;
}

[aria-expanded="false"] .staff__icon--open {
    display: inline;
}

[aria-expanded="false"] .staff__icon--close {
    display: none;
}

[aria-expanded="true"] .staff__icon--open {
    display: none;
}

[aria-expanded="true"] .staff__icon--close {
    display: inline;
}

.reportTitle {
    font-weight: 600;
}