// VARIABLES

$color-navbar: #007bff;
$color-contact: #FF604E;
$color-primary: #0067F4;
$color-success: #17C671;
$color-warning: #FFB400;
$color-danger: #C4183C;
$color-secondary: #5A6169;
$color-info: #00B8D8;
$color-light: #E9ECEF;
$carousel-indicator-active-bg: #0E4194;

// Your variable overrides

.form-control {
    font-family: 'Hind Vadodara', sans-serif;
}

.btn{
    font-family: 'Hind Vadodara', sans-serif;
}

// Bootstrap and its default variables

@import "../bootstrap/scss/_functions";
@import "../bootstrap/scss/_variables";

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1164px,
        xxl: 1400px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1300px
);

@import "../bootstrap/scss/bootstrap";

html {
    font-family: 'Hind Vadodara', sans-serif;
}

[aria-expanded="false"] .menu__icon--open {
    display: block;
}

[aria-expanded="false"] .menu__icon--close {
    display: none;
}

[aria-expanded="true"] .menu__icon--open {
    display: none;
}

[aria-expanded="true"] .menu__icon--close {
    display: block;
}


.navbar-light .navbar-nav .nav-link {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.0rem;
    font-weight: 500;
    color: #0E4194;
}

.dropdown-item {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.0rem;
    font-weight: 500;
    color: #0E4194;
}

.navbar-light .navbar-toggler {
    border-style: none;
    outline-style: none;
}

.laptop {
    margin-top: 4rem;
}

.iconText {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.0rem;
    font-weight: 500;
    color: #0E4194;
}

.titleText {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 2.0rem;
    font-weight: 600;
    color: #0E4194; 
}

.entanaText {
	padding: .6rem;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 2.0rem;
    font-weight: 600;
	color: #ffffff;
}

.popularToolsText {
    margin-top: 8rem;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    color: #0E4194; 
}

.bottomLinks {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.0rem;
    font-weight: 500;
	color: #ffffff;
}

.testList, .iconlist {
    list-style: none;
    display: inline-block;
    margin-bottom: .1rem;
    margin-right: .4rem;
    margin-top: 1rem;
}

.homeCarousel {
    margin-top: 4rem;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.footerText {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1rem;
    color: #000000;
}




/* Varaibles - config */
$linePx: 2px; 
$borderPx: 3px;
$screen-sm: 767px;
$color1: #83E3AC; 
$color2: #ffffff;
$subcolor1: #0E4194;
$subcolor2: black;
$pageBG:  #E9ECEF;
/* SCSS*/

.titleOrgChart{
	font-family: 'Hind Vadodara', sans-serif;
    font-size: 2.0rem;
    font-weight: 600;
    color: #0E4194; 
}

.defOrgChart{
	font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.2rem;
	color: #0E4194; 
}

.Chart {
	padding: 2rem;
}

.content{
	font-family: 'Hind Vadodara', sans-serif;
	font-size:14px;
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	position: relative;
}

.org-chart{
	display:block;
	clear: both;
	margin-bottom: 30px;
	position: relative;
	&.cf:before,
	&.cf:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}
	&.cf:after {
		clear: both;
	}
/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
&.cf {
	*zoom: 1;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;		
}
ul li{ position: relative;}
ul li span{
	display: block;
	border:  $borderPx solid $subcolor1;
	text-align: center;
	overflow: hidden;
	text-decoration: none;
	color: $subcolor2;
	font-size: 12px;
	box-shadow: 4px 4px 9px -4px rgba(0,0,0,0.4);
	-webkit-transition: all linear .1s;
	-moz-transition: all linear .1s;
	transition: all linear .1s;
	background: $color1;
	padding: 4px; 
}

/* Box colors */ 
.lvl-b { background: $color2; color:$subcolor2;  } 
.board{
	width:100%;
	margin: 0 auto;

	display: block;
	position: relative;

	&:before{
		content: "";
		display: block;
		position: absolute;
		height: 600px;
		width: 0px;	
		border-left:  $linePx solid $subcolor1;
		margin-left: 49%;
		top:  15px; 
	}
}
/* 1 column */
ul.columnOne{
	height:90px;
	position: relative;
	width: 100%;
	display: block;
	clear: both;
	li{
		width:30%;
		margin: 20px auto;
		top:10px;
	}
}

/* 2 column */
ul.columnTwo{
	position: relative;
	width: 100%;
	display: block;

	height:90px;
	clear: both;
	li:first-child{
		width:30%;
		float: left;
	}
	li{
		width:30%; 
		float: right;
	}
	&:before{
		content: "";
		display: block;
		position: relative;
		width: 80%;
		height: 10px;	
		border-top:  $linePx solid $subcolor1;
		margin: 0 auto;
		top: 40px;  
	}
}
/* 3 column */
ul.columnThree{ 
	position: relative;
	width: 100%;
	display: block;
	clear: both;
	li:first-child{
		width:30%;
		float: left;
		margin-left:0;
	}
	li{  	 
		width:30%; 
		margin-left:5%;
		float: left;
	}
	li:last-child{ 
		width:30%;  
		float: right;
		margin-left:0;
	}
	&:before{
		content: "";
		display: block;
		position: relative;
		width: 80%;
		height: 10px;	
		border-top:  $linePx solid $subcolor1;
		margin: 0 auto ;
		top: 40px;  
	}
}

/* 4 column */
ul.columnFour{ 
	position: relative;
	width: 100%;
	display: block;
	clear: both;
	li:first-child{
		width:20%;
		float: left;
		margin-left:0;
	}
	li{  	 
		width:20%; 
		margin-left:5%;
		float: left;
	}
	li{  	 
		width:20%; 
		margin-left:5%;
		float: left;
	}
	li:last-child{ 
		width:20%;  
		float: right;
		margin-left:0;
	}
	&:before{
		content: "";
		display: block;
		position: relative;
		width: 80%;
		height: 30px;	
		border-top:  $linePx solid $subcolor1;
		margin: 0 auto ;
		top: 60px;  
	}
}
/* DEPARTMENTS COLUMNs */
.departments{ 
	width: 100%;
	display: block;
	clear: both;
	&:before{
		content: "";
		display: block; 
		width: 85%;
		height: 22px;	
		border-top:  $linePx solid $subcolor1;
		border-left:  $linePx solid $subcolor1;
		border-right:  $linePx solid $subcolor1;
		margin: 0 auto ;
		top:  0px; 
	}
}
.department{
	border-left:  $linePx solid $subcolor1;
	width: 13.2%;
	float: left;  
	margin: 0px 4px; 
	&:after{
		content: "";
		position:absolute;
		display: block; 
		width: 10px;
		height: 22px;	
		border-left:  $linePx solid $subcolor1;
		left:50%;
		top:  -22px; 
	}
	&:first-child{
		&:after{
			display:none;
		} 
	}
	&:last-child{
		&:after{
			display:none;
		}
	}
	&.central{
		background:$pageBG;
		&:after{
			display:none;
		}
	}
	span{
		border-left:  1px solid $subcolor1;
	}
	li{	
		padding-left: 25px;
		border-bottom:  $linePx solid $subcolor1;
		height: 80px;
	}
	li span{
		background: $color1;
		top: 38px;	
		position: absolute;
		z-index: 1;
		width: 95%;
		height: auto;
		vertical-align: middle;
		right:0px; 
		line-height: 14px;
		border:  $borderPx solid $subcolor1;
	}
	.sections{
		margin-top: -20px;
	}
}
}

@mixin responsiveClasses() {
	.org-chart{
		.board{
			margin: 0px;
			width:100%;
		}
		.departments{
			&:before{
				border:none;
			}
		}
		.department{
			float: none;
			width: 100%;
			margin-left: 0;
			background:$pageBG;
			margin-bottom: 40px;
			&:before{
				content: "";
				display: block;
				position: absolute;
				width: 15px;
				height: 60px;
				border-left:  $linePx solid $subcolor1;
				z-index: 1;
				top: -45px;
				left: 0%;
				margin-left: -2px;
			}
			&:after{
				display: none;
			}
		}
		.department:first-child:before{	display: none;}
	}
}

/* MEDIA QUERIES */
@media all and (max-width: $screen-sm){
	@include responsiveClasses();
}
